In [17]:
!pip install requests

Requirement already satisfied: requests in c:\users\deela\anaconda3\envs\pythondata\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\deela\anaconda3\envs\pythondata\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deela\anaconda3\envs\pythondata\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\deela\anaconda3\envs\pythondata\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\deela\anaconda3\envs\pythondata\lib\site-packages (from requests) (2.10)

In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-01-20 21:04:31,-33.6500,115.3333,64.99,89,6,3.00
1,1,Punta Arenas,CL,2021-01-20 21:08:11,-53.1500,-70.9167,62.60,45,0,23.02
2,2,Puerto Ayora,EC,2021-01-20 21:05:08,-0.7393,-90.3518,86.00,62,20,9.22
3,3,Port Elizabeth,ZA,2021-01-20 21:06:21,-33.9180,25.5701,69.01,77,2,5.01
4,4,Ushuaia,AR,2021-01-20 21:08:12,-54.8000,-68.3000,62.60,31,40,5.75

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Axim,GH,2021-01-20 21:08:12,4.8699,-2.2405,79.03,86,100,8.63
16,16,Carnarvon,AU,2021-01-20 21:08:13,-24.8667,113.6333,77.00,94,40,14.97
21,21,Salinopolis,BR,2021-01-20 21:08:14,-0.6136,-47.3561,79.25,83,100,6.80
26,26,Mahebourg,MU,2021-01-20 21:08:15,-20.4081,57.7000,78.80,94,40,4.61
27,27,Puerto Escondido,MX,2021-01-20 21:08:15,15.8500,-97.0667,84.20,70,20,8.05

In [13]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
6               Axim      GH     79.03   4.8699   -2.2405
16         Carnarvon      AU     77.00 -24.8667  113.6333
21       Salinopolis      BR     79.25  -0.6136  -47.3561
26         Mahebourg      MU     78.80 -20.4081   57.7000
27  Puerto Escondido      MX     84.20  15.8500  -97.0667
28             Kapaa      US     77.00  22.0752 -159.3190
29        Carutapera      BR     77.27  -1.1950  -46.0200
32    Cap Malheureux      MU     81.00 -19.9842   57.6142
33         Namatanai      PG     80.47  -3.6667  152.4333
36            Atuona      PF     77.88  -9.8000 -139.0333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Axim,GH,79.03,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
16,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
21,Salinopolis,BR,79.25,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
26,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
27,Puerto Escondido,MX,84.20,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
28,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
29,Carutapera,BR,77.27,-1.1950,-46.0200,Lidera
32,Cap Malheureux,MU,81.00,-19.9842,57.6142,Pereybere Hotel & Spa
33,Namatanai,PG,80.47,-3.6667,152.4333,Namatanai Hotel
36,Atuona,PF,77.88,-9.8000,-139.0333,Villa Enata

In [18]:
hotel_df.notnull()

     City  Country  Max Temp   Lat   Lng  Hotel Name
6    True     True      True  True  True        True
16   True     True      True  True  True        True
21   True     True      True  True  True        True
26   True     True      True  True  True        True
27   True     True      True  True  True        True
..    ...      ...       ...   ...   ...         ...
564  True     True      True  True  True        True
566  True     True      True  True  True        True
569  True     True      True  True  True        True
575  True     True      True  True  True        True
579  True     True      True  True  True        True

[155 rows x 6 columns]

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))